.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/

application/config/
application/controllers/Job_activity
application/controllers/Job_contracts
application/controllers/Job_offers
application/controllers/My_appointments
application/controllers/My_clients
application/controllers/My_coins
application/controllers/My_income
application/controllers/My_payments
application/controllers/My_reviews
application/controllers/my_team
application/controllers/My_warranty
application/controllers/Employee_dashboard

.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
